@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navBar {
  position: fixed;
  top: 0;
  width: 95%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  font-family: inherit;
  width: 100px;
  padding: 5px;
  color: #fff;
  background-color: #2196f3;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
  user-select: none;
  text-transform: uppercase;

  &:hover {
    filter: brightness(110%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

#game-container {
  position: fixed;
  width: 300px;
  height: 600px;
  background: lightgray;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
}

#next-piece-label {
  position: fixed;
  top: 15%;
  left: 75%;
  width: 150px;
  height: 150px;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#next-piece-container {
  position: fixed;
  top: 25%;
  left: 75%;
  width: 150px;
  height: 150px;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for individual blocks of pieces */
.block,
.landed-block {
  width: 30px;
  height: 30px;
  background-color: darkkhaki;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
}

/* Styling for different pieces */
.piece-I {
  background-color: rgb(173, 216, 230);
  border-color: rgb(73, 116, 130);
}

.piece-J {
  background-color: rgb(0, 0, 139);
  border-color: rgb(0, 0, 39);
}

.piece-O {
  background-color: rgb(255, 255, 0);
  border-color: rgb(155, 155, 0);
}

.piece-Z {
  background-color: rgb(255, 0, 0);
  border-color: rgb(155, 0, 0);
}

.piece-S {
  background-color: rgb(0, 128, 0);
  border-color: rgb(0, 28, 0);
}

.piece-T {
  background-color: rgb(255, 0, 255);
  border-color: rgb(155, 0, 155);
}

.piece-L {
  background-color: rgb(255, 165, 0);
  border-color: rgb(155, 65, 0);
}

/* Game over message */
#message-overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container {
  width: 90%;
  max-width: 600px;
  height: 200px;
  background: azure;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 10px 20px -5px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  color: blue;

  & span {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  & button {
    margin-top: 10px;
  }
}

.hidden {
  display: none;
}
